body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh; /* Set a minimum height to cover the entire viewport height */
    width: 300px;
    margin: 0;
    padding: 0;
}


p {
    font-size: 16px;
    font-weight: bold;
    color: red;
}

/* Add styling to make radio buttons vertical */
#selectionForm {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between radio buttons */
}

#logoutButton{
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the right position as needed */
    background-color: transparent; /* Adjust the background color as needed */
    height: 24px;
    width: 24px;
    border: none;
    cursor: pointer;
    background-image: url('resources/img-back.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#logoutButton:hover {
    background-image: url('resources/img-back-hover.png');
}

#continueButton{
    height: 32px;
    width: 100px;
    border: none;
    cursor: pointer;
    background-color: white;
    background-image: url('resources/btn_continue.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-bottom: 15px;
}

.container{
    display: flex;
    flex-direction: column;
}

.button-container {
    background-color: mediumvioletred;
    overflow: hidden; /* Clearfix to contain floated elements */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    flex: 0 0 auto;
    cursor: pointer;
}

.button-container:hover{
    background-color: darkorchid;
}

.button-image {
    float: left;
    height: 20px;
    width: 20px;
}

button {
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 12pt;
}